.dataModal {
	margin-left: 20px !important;
	background-color: #337AB7 !important;
}
.tab-content{
	width: 1000px !important;
}
.modal-dialog {
	width: 80%;
	height: 600px !important;
	left: 10px !important;
	margin-left: 10px !important;
	position: absolute !important; 
}

.modal-content {
	/* 80% of window height */
	height: 60%;
	width: 100% !important;
	
}

.modal-header {
	background-color: #337AB7;
	width: 700px !important;
	padding: 16px 16px;
	color: #FFF;
	border-bottom: 2px dashed #337AB7;
}

.modal-lg {
    max-width: 80% !important;
}

