<div class="icon-bar">
  <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="#" class="google"><i class="fa fa-google"></i></a> 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>

<header class="header">
			
  <!-- Top Bar -->
  <div class="top_bar">
    <div class="top_bar_container">
      <div class="container">
        <div class="row">
          <div class="col">
            <div class="top_bar_content d-flex flex-row align-items-center justify-content-start">
              <ul class="top_bar_contact_list">
                <li><div class="question">Call Us: +91 9619333960</div></li>
                <li>
                  <div>Contact Us: info@sspjiims.org</div>
                </li>
              </ul>
              <div class="top_bar_login ml-auto">
                <ul>
                  <li><a routerLink="/register">Register</a></li>
                  <li *ngIf="loginService.currentUserValue == null"><a (click)="onLogin();">Login</a></li>
                  <li *ngIf="loginService.currentUserValue != null"><a (click)="onLogout();">Logout</a></li>
                </ul>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>				
  </div>

  <!-- Header Content -->
  <div class="header_container">
<!--     <div class="container"> -->
<!--       <div class="row"> -->
<!--         <div class="col"> -->
<!--         	<div class="logo_container"> -->
        	<a href="#">
<!--         		<div class="logo_content d-flex flex-row align-items-end justify-content-start"> -->
                  <div class="logo_img">
                  	<img src="../../assets/images/logo22.png" alt="" style="height: 90px;">
                  </div>
<!--                 </div> -->
            </a>
<!--             </div> -->
<!--         </div> -->
<!--         </div>	 -->
<!--       <div class="row"> -->
<!--         <div class="col"> -->
          		<nav class="navbar navbar-expand-sm navbar-custom" style="height: 40px;width: 100%">
				  <a class="navbar-brand" href="#"></a>
				  <button class="navbar-toggler" type="button" data-toggle="collapse" 
				  	data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" 
				  	aria-expanded="false" aria-label="Toggle navigation">
				    <span class="navbar-toggler-icon"></span>
				  </button>
				
				  <div class="collapse navbar-collapse" id="navbarSupportedContent">
				    <ul class="navbar-nav mr-auto">
				      <li class="nav-item active">
				        <a class="nav-link" routerLink="/index">Home <span class="sr-only">(current)</span></a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink="/aboutus">About Us</a>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink="/admin">Admin</a>
				      </li>
				      <li class="nav-item dropdown">
				        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" 
				        	aria-haspopup="true" aria-expanded="false">
				          Course
				        </a>
				        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
				          <div *ngFor="let course of courseList">	
				          		<a class="dropdown-item" [routerLink]="['/details', course._id]">{{course.name}}</a>
						  </div>
				        </div>
				      </li>
				      <li class="nav-item">
				        <a class="nav-link" routerLink="/contactus">Contact Us</a>
				      </li>
				    </ul>
				    <form class="form-inline my-2 my-lg-0">
				      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search" style="height: 40px;">
				      <button class="btn btn-outline-success my-2 my-sm-0" type="submit" style="height: 40px;">Search</button>
				    </form>
				  </div>
				</nav>

<!--             <nav class="main_nav_contaner ml-auto"> -->
<!--               <ul class="main_nav"> -->
<!--                   <li [routerLinkActive]="['active']"><a routerLink="/index">home</a></li> -->
<!--                   <li [routerLinkActive]="['active']"><a routerLink="/aboutus">About Us</a></li> -->
<!--                   <li [routerLinkActive]="['active']"><a routerLink="/courses">Courses</a></li> -->
<!--                   <li [routerLinkActive]="['active']"><a routerLink="/contactus">Contact Us</a></li> -->
<!--                   <li [routerLinkActive]="['active']"><a routerLink="/admin">Admin</a></li> -->
<!--               </ul> -->
<!--               <div class="search_button"><i class="fa fa-search" aria-hidden="true"></i></div> -->

<!--               Hamburger -->

<!--               <div class="hamburger menu_mm"> -->
<!--                 <i class="fa fa-bars menu_mm" aria-hidden="true"></i> -->
<!--               </div> -->
<!--             </nav> -->

<!--         </div> -->
<!--       </div> -->
<!--     </div> -->
  </div>

  <!-- Header Search Panel -->
  <div class="header_search_container">
    <div class="container">
      <div class="row">
        <div class="col">
          <div class="header_search_content d-flex flex-row align-items-center justify-content-end">
            <form action="#" class="header_search_form">
              <input type="search" class="search_input" placeholder="Search" required="required">
              <button class="header_search_button d-flex flex-column align-items-center justify-content-center">
                <i class="fa fa-search" aria-hidden="true"></i>
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>			
  </div>			
</header>