<div class="container">
  <div class="row nomargin">
    <div class="span4">
      <div class="logo">
        <a href="index.html"><img src="assets/img/logo1.png" alt="" /></a>
      </div>
    </div>
    <div class="span8">
      <div class="navbar navbar-static-top">
        <div class="navigation">
          <nav>
            <ul class="nav topnav">
              <li class="dropdown active">
                <a href="#"><i class="icon-home"></i> Home <i class="icon-angle-down"></i></a>
                <ul class="dropdown-menu">
                  <li><a routerLink="/signup">Sign Up</a></li>
                   <li class="dropdown"><a routerLink="/aboutus">About Us<i class="icon-angle-right"></i></a>
                    <ul class="dropdown-menu sub-menu-level1">
                      <li><a href="index.html">Aims & Objective</a></li>
                      <li><a href="index.html">Mission & Vision</a></li>
                      <li><a href="index.html">Philosophy</a></li>
                      <li><a href="index.html">Quality Policy</a></li>
                      <li><a href="index.html">Quality Assurance</a></li>
                      <li><a href="index.html">Value of Skill Education</a></li>
                      <li><a href="index.html">What we Do</a></li>
                      <li><a href="index.html">Why E-learning</a></li>
                    </ul>
                  </li>
                </ul>
              </li>
              <li>
                <a href="/aboutus">About Us </a>
              </li>
              <li>
                <a href="/admin">Admin </a>
              </li>
              <li>
                <a href="/signup">Sign Up </a>
              </li>
              <li>
                <a href="/contactus">Contact </a>
              </li>
            </ul>
          </nav>
        </div>
        <!-- end navigation -->
      </div>
    </div>
  </div>
</div>