<div class="container">
  <div class="row">
  
    <form [formGroup]="courseForm" novalidate (ngSubmit)="editSubmit(courseForm)">
	  <div class="modal-boy">
	    <div class="container">
	      <div class="form-group">
	        <label for="name">Course Name</label>
	        <input id="name" type="text" class="form-control" formControlName="name" />
	      </div>
	      <div class="form-group">
	        <label for="subcourse">Sub Course Name</label>
	        <input id="subcourse" type="text" class="form-control" formControlName="subcourse">
	      </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button id="student-cancel-btn" type="button" class="btn btn-danger btn-sm">Cancel</button>
		<button id="student-submit-btn" type="submit" class="btn btn-primary btn-sm" (click)="create()">Submit</button>
	  </div>
  </form>
  
	</div>
	
	<div class="row">
		<div class="container">
			<div class="row">
					<ag-grid-angular
							#agGrid
							id="myGrid"
							style="width: 480px; height: 400px;"
							class="ag-theme-balham"
							[enableSorting]="true"
							[enableFilter]="true"
							[rowData]="rowData"
							rowSelection='multiple'
							(gridReady)="onGridReady($event)"
							[columnDefs]="columnDefs">
					</ag-grid-angular>
					<!-- Selection: <span id="selectedRows"></span> -->
			</div>
		</div>
	</div>
</div>