<!DOCTYPE html>
<html lang="en">

<app-head></app-head>

<body>

<div class="icon-bar">
  <a href="https://www.facebook.com" class="facebook"><i class="fa fa-facebook"></i></a> 
  <a href="#" class="twitter"><i class="fa fa-twitter"></i></a> 
  <a href="#" class="google"><i class="fa fa-google"></i></a> 
  <a href="#" class="linkedin"><i class="fa fa-linkedin"></i></a>
  <a href="#" class="youtube"><i class="fa fa-youtube"></i></a> 
</div>

  <div class="milestones">
		<div class="container">
			<div class="row">
						
                        <div class="col">

                          <div class="home_content text-center">
<!--                           	<img src="../../assets/images/slides1.jpg"/> -->
<!-- 							<div class="home_title">About us</div> -->
								
								<div id="demo" class="carousel slide" data-ride="carousel">

									  <!-- Indicators -->
									  <ul class="carousel-indicators">
									    <li data-target="#demo" data-slide-to="0" class="active"></li>
									    <li data-target="#demo" data-slide-to="1"></li>
									    <li data-target="#demo" data-slide-to="2"></li>
									  </ul>
									
									  <!-- The slideshow -->
									  <div class="carousel-inner">
									    <div class="carousel-item active">
									      <img src="../../assets/images/slides1.jpg" alt="Los Angeles">
									    </div>
									    <div class="carousel-item">
									      <img src="../../assets/images/slides2.jpg" alt="Chicago">
									    </div>
									    <div class="carousel-item">
									      <img src="../../assets/images/slides3.jpg" alt="New York">
									    </div>
									  </div>
									
									  <!-- Left and right controls -->
									  <a class="carousel-control-prev" href="#demo" data-slide="prev">
									    <span class="carousel-control-prev-icon"></span>
									  </a>
									  <a class="carousel-control-next" href="#demo" data-slide="next">
									    <span class="carousel-control-next-icon"></span>
									  </a>
									
									</div>

                          </div>
            
                        </div>

			</div>
		</div>
	</div>

  <div id="wrapper">

    <!-- start header -->
   	<app-header></app-header>
    <!-- end header -->

    <app-menu></app-menu>

		<section id="content">
			<div class="container">
				<div class="row">
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header>Why SSPJIIMS</mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								SSPJIIMS paves a path to early success in life through its
								fast-track short duration correspondence courses. These courses
								consist of concepts and case studies that provide broad exposure to
								relevant business concepts and management specifics. This helps
								them to get started as âManagersâ by enhancing their
								productivity, capability to formulate business policies, strategies
								and their implications for the organization.
							</mdb-card-text>
						</mdb-card-body>
					</mdb-card>
					
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header>Purpose of SSPJIIMS</mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								<ul>

									<li>Enhance the career of students in Business and
										Management sectors.<br />
									</li>
		
									<li>Democratizing higher education by taking it to the
										doorsteps of the learners providing access to high quality
										education to all those who seek it irrespective of age, region
										or formal qualifications.</li>
		
									<li>Short duration programs in various faculties which
										enable the candidates/students to acquire value based and
										world-class Management qualifications while working. <br />
		
									</li>
		
									<li>Offering need-based programs by giving professional and
										vocational orientation to the courses. <br />
		
									</li>
		
									<li>Promoting and developing distance education in India.<br />
		
									</li>
		
									<li>Setting and maintaining standards in distance education
										in the country as an apex body for the purpose. <br /> <br />
									</li>
								</ul>
							</mdb-card-text>
						</mdb-card-body>
					</mdb-card>
					
					<mdb-card class="w-100" borderColor="border-success"> 
						<mdb-card-header>Best of SSPJIIMS</mdb-card-header>
						<mdb-card-body> 
							<mdb-card-text>
								is an enthusiastic attempt by SSPJIIMS to expose the best of
								International Management principles, practices and managerial
								function to the students. At SSPJIIMS, the courses are
								designed for those who have burning desire to pursue a career
								in business and management. The students will get qualified
								without disrupting their current career progression and
								earning. Such candidates can opt for the flexible Management
								courses at SSPJIIMS and get qualified by short duration at
								their own place. However, the pursuit of this management
								program demands intellectual maturity, strength and
								willingness to work hard. For those endowed with inquisitive
								minds and the drive to succeed, this program will be a voyage
								of discovery leading to professionally satisfying careers. We
								invite all those who share our vision, goals and purpose to
								join hands in hand in our efforts to build a new cadre of
								management professionals, who will participate actively in the
								growth of this era of economic, liberalization and
								globalization. let us build a prosperous new world
								together.
							</mdb-card-text>
						</mdb-card-body>
					</mdb-card>
					
				</div>
			</div>
		</section>
		
		<div class="row">
			&nbsp;
		</div>

	<app-footer></app-footer>
    
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>


</body>

</html>


<!-- <mdb-card class="w-100" borderColor="border-success" > -->
<!-- 		  <mdb-card-header>Header</mdb-card-header> -->
<!-- 		  <mdb-card-body> -->
<!-- 		    <mdb-card-title> -->
<!-- 		      <h5>Success Panel title</h5> -->
<!-- 		    </mdb-card-title> -->
<!-- 		    <mdb-card-text>Some quick example text to build on the panel title and make up the bulk of the -->
<!-- 		      panel's content.</mdb-card-text> -->
<!-- 		  </mdb-card-body> -->
<!-- 		</mdb-card> -->