<!DOCTYPE html>
<html lang="en">

<app-head></app-head>

<body>

  <div class="milestones">
		<!-- Background image artis https://unsplash.com/@thepootphotographer -->
		<div class="parallax_background parallax-window" data-parallax="scroll" style="background-image: url(../../assets/images/about.jpg);" data-speed="0.8"></div>
		<div class="container">
			<div class="row">
                        <div class="col">

                          <div class="home_content text-center">
							<div class="home_title">About us</div>
                          </div>
            
                        </div>

			</div>
		</div>
	</div>

  <div id="wrapper">

    <!-- start header -->
   	<app-header></app-header>
    <!-- end header -->

    <app-menu></app-menu>

    <section id="content">
      <div class="container">
        <div class="row">

          <div class="span12">
            <i class="fa fa-hand-o-right"></i><p class="text-justify">
            State of Maharashtra University –SMU Is Autonomous Institutes Formally Run on small Based Since 1990 And Now Under the Management of Education Society is an institution founded in 2000 and registered under the rules & regulations of Govt of India Act XXI 1860 by a group of devoted and educated persons with the help and co-operation of experts in this field. The area of operation of the SMU is wide and extensive all over India & Abroad & Online. Centers of examination are situated in almost all India & Abroad and Online where annual examinations are normally organized to different subjects and categories in every March, June, September and December 
            </p>
            <p class="text-justify">
            To provide Secondary Education, Higher Secondary Education, Management and Technical Diploma Courses to those belonging to disadvantaged groups (e.g. the Scheduled Castes, the Scheduled Tribes, Socially and Educationally disadvantaged classes and other socially, culturally, economically, geographically weaker sections of the society, or such other factors as may be specified / notified appropriately by the Government) and people belonging to weaker sections who are not able to get education in the normal course of life.
            </p>
            <p class="text-justify">To provide the best possible teaching and learning environment to the students, so that they can serve the Society effectively with dignity
			</p>
			<p class="text-justify">To provide individualized study with flexibility in terms of place and duration.
			</p>
			<p class="text-justify">To identify educational needs of the children/persons of the State who are otherwise not catered to by the formal system of school education and to open study/academic centers.
			</p>
			<p>To provide opportunities in School Education and Skill Development through Open and Distance Learning (ODL) mode.
			</p>
			<p>To identify and promote approved standards of learning in Open and Distance Learning system.
			</p>
			<p>To design and develop courses, self-instructional materials (SIM) and other learning support for the courses identified at different points of time.
			</p>
			<p>To organize orientation and training programmes for the functionaries of the open schooling system in the country, to evolve strategies for curriculum development, instructional procedures etc.;
			</p>
			<p>To undertake and coordinate educational and research programmes with the suggestions of the State government(s) concerned
			</p>
			<p>To establish contacts with international agencies in the field of education, especially school education, for keeping acquainted with the latest trends in curriculum development, material production, media use for dissemination etc.,
			</p>
			<p>To establish links with other examining bodies with special focus on Asian countries.
			</p>
			<p>To collaborate with other agencies within and outside the state for developing and delivering skill oriented courses of study
			</p>
			<p>To promote and publicize open schooling programmes and distance education activities in the country.
			</p>
			<p>To maintain standards and equivalence with formal education system, while ensuring flexible characteristics of Open and Distance Learning System.
			</p>
			<p>To serve as an agency for effective dissemination of information related to open learning and distance education
			</p>
			<p>To establish linkages with contemporary education systems like State Boards, Sanskrit Boards, Madrasa Boards and state open boards with mainstream education system with mobility across them and equivalence between them; To expand access to school education at all levels and to increase retention rates at all levels of schooling.
			</p>
			<p>To encourage, promote and conduct a system of Open School Education and Distance education relevant to the students/learners, to organize training programmes at national and international level on `open  school system;
			</p>
			<p>To promote interaction and co-ordination among open schools and distance education institutions.
			</p>
			<p>To make study of various subjects more purposeful and to effect a fusion between traditional and modern system of education;
			</p>
			<p>To institute career oriented courses related to education through distance learning/ correspondence courses; to develop courses of education in various subjects.
			</p>
			<p>To prepare `database on open schooling and to conduct online and offline examination of Secondary , Higher Secondary level Exams and Diploma in Management and Technical Courses all over the country
			</p>
			<p>To announce the results of concerned examination and release certificates to passed candidates from time to time
			</p>
			<p>To organize educational and vocational training programmes with special concern for deprived sections, women/girls and unemployed youth to impart new skills: refine/sharpen/up-grade the existing skills.
			</p>
			<p>To impart free education and cultural training to the poor, helpless, differently able and needy children/students, to establish and maintain institutions for adult education with the consent of the concerned authorities.
            </p>
            
<!--             <blockquote> -->
<!--               To provide Secondary Education, Higher Secondary Education, Management and Technical Diploma Courses to those belonging to disadvantaged groups (e.g. the Scheduled Castes, the Scheduled Tribes, Socially and Educationally disadvantaged classes and other socially, culturally, economically, geographically weaker sections of the society, or such other factors as may be specified / notified appropriately by the Government) and people belonging to weaker sections who are not able to get education in the normal course of life. -->
<!--             </blockquote> -->

          </div>

        </div>
        
        <div class="row">
        
				
				<collapsible-list [type]="'accordion'">
  
  <collapsible-list-item>
    <collapsible-header class="waves-effect">
      AIMS & OBJECTIVE OF THE MSU
    </collapsible-header>
    <collapsible-body [expanded]="false">
      <p>
      	The aim of Institution is to provide some job oriented professional / Vocational / Technical / Management / I.T / Engineering / Academic and other Courses.
      </p>
      <p>
      	1. To act as an Autonomous , Non-Commercial, Voluntary and Perpetual Body Corporate with Statutory Status under the Constitution of India for the right to Education , Training and its Administration; for providing Education at LESSER COST
		</p>
		<i class="fa fa-hand-o-right" style="font-size:48px;color:red"></i>
		
			<p class="text-justify">•	for the Expansion, Propagation and Development of Distance Education;
			</p><p class="text-justify">•	for the Democratization of Higher Education by providing it to the door- steps of Students;
			</p><p class="text-justify">•	for the Popularization of Education under Open and Distance Education System on the pattern of other Countries;
			</p><p>•	for providing Education at lesser cost;
			</p><p>•	for Publication of Educational Literature;
			</p><p>•	for Honoring Eminent Educationists;
			</p><p>•	for Awarding Titles of Honor’s to Educators and Researchers;
			</p><p>•	for Conducting Regular, Open, Distance, Correspondence and Continuing Education in General, Traditional, Technical, Professional, and Advanced Management Courses;
			</p><p>•	for Conducting Written, Practical and Oral Examinations;
			</p><p>•	for Awarding Certificates, Diplomas, Degrees and honor’s, as per the directions in the National Education Policy of the Government of India, the Directives in the Constitution of India and on the pattern of Open and Distance Education System approved by U.N. and its Agencies such as UNESCO, W.H.O, etc.
		</p><p>2. To establish Educational Institutions under the State of Maharashtra University –SMU to impart proper education to the needy from Pre-primary , Primary, Upper Primary, Secondary , Higher Secondary to Diploma, Degree, Post Graduate Diploma and P. G. Degree and in Research Level from M. Phil, Ph.D, to Post Doctorate and Honorary Doctorate Level.
		</p><p>3. To impart Education to the under-privileged, down trodden, Backward and Scheduled Classes, Women. Destitutes, Widows, Detenues and other eligible candidates at Concessional rate of fees, and for this purpose to establish Distance Education Canters in any part of India or Abroad; to conduct Courses of Study included in the Distance, Continuing, Correspondence and Open Education System of Open Universities and Institutions of National and International Reputation.
      	
      </p>
    </collapsible-body>
  </collapsible-list-item>
 
  <collapsible-list-item>
    <collapsible-header class="waves-effect heading-primary mt-xl" >
      CONSTITUTION & RELIABILITY
    </collapsible-header>
    <collapsible-body [expanded]="true">
      <p>
      	It is but natural for an ambitious lover of education to enquire before seeking admission in any institute or Board its constitutionality, reliability beside employment opportunities. We clarify that all the Educational Boards are autonomous Bodies and it is left to their discretion to allow or refuse admission to those coming from another Boards or institutions etc, similarly to a person who holds a certificate, Diploma or a Degree from a particular Board. It is pertinent to note that the concept of Distance Education was originated in 19th Century in Germany & thereafter it was granted recognition by Russia to distance education in the world. Thereby the idea of open education flourished by Britishers during the year 1963 so as to provide an opportunity to persons who denied opportunities to further their education and to prospect their life successful. Similarly Govt. of India laid emphasis on Open & Distance Education through their New Education Policy 1986. 
      </p>
    </collapsible-body>
  </collapsible-list-item>
  
  <collapsible-list-item>
    <collapsible-header class="waves-effect">
      METHOD OF EDUCATION
    </collapsible-header>
    <collapsible-body [expanded]="true">
      <p>
      	The Institution has clear vision and aims at imparting Education and providing an opportunity to the school drop outs and to such students who are otherwise busy in their own life style and could not have an opportunity to attend regular schooling at their tender age but having a desire to learn to be educated at least to the level of Secondary and Senior Secondary Education. 
The idea and concept of providing an opportunity to them is to make learn the education at least to the level of Secondary and Senior Secondary, which is very much essential to stand in the developing society and deal in the better way in the respective fields of works, business and professions in which they are already engaged by learning English, Mathematics, General Science, Social Studies, National Language, which are much helpful to them. 
      </p>
      <p>
      The effort of this Institution is also to impart education so has to enable the students to feel educated and to avail the job opportunities in private sectors who ever recognize our efforts and the ability of the students. 
In accordance with National Education Policy (1986) of Govt. of India this Institution aims to impart education to those who are unable to come out their busy schedules and unable to attend the regular classes, by way of correspondence learning. 
      </p>
      <p>
      This Institution provides education to desired students in Engineering & Technical, Para-Medical and also Secondary, Senior Secondary courses only with English as medium of instructions and it also refers books on all selected subjects and provides study material in respect of the said courses. 
      </p>
      <p>
      This Institution adopts multimedia educational system consisting of printed course material for self-study. Provide facility for practical and personal contact programme and to evaluate lessons by faculty experts. 
This Institution provides excellent education to the desired students up to the level of Secondary & Senior Secondary Education with English of the medium of the Instruction and refers books on all concerning subjects and provides study material in respect of the said courses. 
      </p>
      <p>
      The syllabus & examination pattern is based on syllabus prevailing in Board of Secondary Education, Board of Intermediate Education and other Recognized Boards / Institutions of India with a view to make our students all along the other students in this competitive World. 
      </p>
      <p>
      The study material would be supplied to the students who join our correspondence courses, which will guide them for effective learning of the course. Beside the same, syllabus of the programme and Model question papers would be sent to them time to time. The Institution also advice the students to purchase the recommended text books and shall attend personally for the periodical classes of theory and practical’s whenever called to attend and shall attend all the Term Examination and Annual Examinations conducted by this institute and make their efforts to excel in the same.
      </p>
      <p>
      That on successful completion of the said courses, the Certificates / Diplomas will be awarded to the students on the passing of final examinations. It is pertinent hereto mentioned that the Certificates / Diplomas awarded by this Institutions only in reorganization of successfully completion of said course. 
      </p>
      <p>
      State of Maharashtra University –SMU is an Independent Organization in the field of education, formally registered by Government of India and aims to democratize Higher Education by providing it to eligible students at their door step irrespective of Caste, Age, Sex and Territory so as to enable them to compete with the International standards of education.
      </p>
      <p>
      State of Maharashtra University –SMU is an Autonomous Board Registered under the Government of India, Planning Commission, Government of India and Ministry of Human Resource Development, Government of India. SMERC is accredited with International Council for Open and Distance Education (ICDE), Oslo, Norway and is accredited with ISO 9001:2015 Certification and a Member Institution of Indian Association of Teacher Educators (IATE).
      </p>
      <p>
      State of Maharashtra University –SMU conducts the courses in Non-Formal mode through Regular, Correspondence, Open and Distance Learning. Currently State of Maharashtra University –SMU conducts Elementary Education, Preparatory Programme, OBE Programme, ESLC Programme, Secondary Education, Higher Secondary Education (First and Second Year), Certificate Courses, Diploma Courses, Post Graduate Diploma Courses, Technical Courses, Management Courses and various courses related to Teacher Education.
      </p>
    </collapsible-body>
  </collapsible-list-item>
  
  <collapsible-list-item>
    <collapsible-header class="waves-effect">
      CONSTITUTION & RELIABILITY
    </collapsible-header>
    <collapsible-body [expanded]="true">
      <p>
      	It is but natural for an ambitious lover of education to enquire before seeking admission in any institute or Board its constitutionality, reliability beside employment opportunities. We clarify that all the Educational Boards are autonomous Bodies and it is left to their discretion to allow or refuse admission to those coming from another Boards or institutions etc, similarly to a person who holds a certificate, Diploma or a Degree from a particular Board. It is pertinent to note that the concept of Distance Education was originated in 19th Century in Germany & thereafter it was granted recognition by Russia to distance education in the world. Thereby the idea of open education flourished by Britishers during the year 1963 so as to provide an opportunity to persons who denied opportunities to further their education and to prospect their life successful. Similarly Govt. of India laid emphasis on Open & Distance Education through their New Education Policy 1986. 
      </p>
    </collapsible-body>
  </collapsible-list-item>
  
  <collapsible-list-item>
    <collapsible-header class="waves-effect">
      CONSTITUTION & RELIABILITY
    </collapsible-header>
    <collapsible-body [expanded]="true">
      <p>
      	It is but natural for an ambitious lover of education to enquire before seeking admission in any institute or Board its constitutionality, reliability beside employment opportunities. We clarify that all the Educational Boards are autonomous Bodies and it is left to their discretion to allow or refuse admission to those coming from another Boards or institutions etc, similarly to a person who holds a certificate, Diploma or a Degree from a particular Board. It is pertinent to note that the concept of Distance Education was originated in 19th Century in Germany & thereafter it was granted recognition by Russia to distance education in the world. Thereby the idea of open education flourished by Britishers during the year 1963 so as to provide an opportunity to persons who denied opportunities to further their education and to prospect their life successful. Similarly Govt. of India laid emphasis on Open & Distance Education through their New Education Policy 1986. 
      </p>
    </collapsible-body>
  </collapsible-list-item>
  
  
 
</collapsible-list>
				
        </div>

        <!-- <div class="row">
          <div class="span12">
            <div class="solidline"></div>
          </div>
        </div>

        <div class="row team">
          <div class="span12">
            <h4 class="title">Board Of Members Portfolio In <strong>SMUGOV</strong></h4>
          </div>

          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="assets/img/dummies/team/1.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Vincent Austin Jr</strong></p>
                <p>
                  CEO - Founder
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>

              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="assets/img/dummies/team/2.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Tommy Laugher</strong></p>
                <p>
                  Lead designer
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="assets/img/dummies/team/3.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Gabirelle Borowski</strong></p>
                <p>
                  Customer support
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
          <div class="span3">
            <div class="team-box">
              <a href="#" class="thumbnail"><img src="assets/img/dummies/team/4.jpg" alt="" /></a>
              <div class="roles aligncenter">
                <p class="lead"><strong>Benny Strongton</strong></p>
                <p>
                  Coffee maker
                </p>
                <p>
                  <a href="#"><i class="icon-facebook icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-twitter icon-circled icon-bglight active"></i></a>
                  <a href="#"><i class="icon-linkedin icon-circled icon-bglight active"></i></a>
                </p>
              </div>
            </div>
          </div>
        </div> -->
        <!-- <div class="blankline30"></div> -->

      </div>
    </section>

    <app-footer></app-footer>
    
  </div>
  <a href="#" class="scrollup"><i class="icon-angle-up icon-square icon-bglight icon-2x active"></i></a>


</body>

</html>
