#sparq-edit-button {padding: 0}
.edit-btn { width: 100%; }

h3 { float: left; }

.sparq-modal-body {
    padding: 20px;
    height: 500px;
    min-width: 860px;
    overflow: auto;
    background-color: rgb(246, 253, 255);
}
.sparq-modal {
	background-color: rgb(246, 253, 255);
    top: 5%;
}
th { font-size: 15px;}

.empty-table-message { text-align: center; }
.empty-table-message td { padding: 200px; }

.plandetail-hotspot:hover {
    cursor: pointer;
    background-color: #ddd;
}
.sparq-modal {
	background-color: rgb(246, 253, 255);
    top: 15%;
}
.row {
    min-width: 820px;
}

.image-upload > input
{
    display: none;
}

.success {
  background: #2196F3;
  color: white;
}

.fail {
  background: #F44336;
  color: white;
}