<ng-template #studentModal>
	<div class="modal-header">
	  <h4 class="modal-title">Student Add/Update Form</h4>
	  <button type="button" class="close" aria-label="Close"
	   (click)="activeModal.dismiss('Cross click')">
	  </button>
	</div>
	<form [formGroup]='studentForm' novalidate (ngSubmit)='editSubmit(studentForm)'>
	  <div class="modal-boy">
	    <div class="container">
	      <div class="form-group">
	        <label for="fname">First Name</label>
	        <input id="fname" type="text" class="form-control" formControlName="fname" />
	      </div>
	      <div class="form-group">
	        <label for="lname">Last Name</label>
	        <input id="lname" type="text" class="form-control" formControlName="lname">
	      </div>
	    </div>
	  </div>
	  <div class="modal-footer">
	    <button id='student-submit-btn' type='submit' class='btn btn-primary' [disabled]='!studentForm.valid'>
	        Submit
	    </button>
	    <button id='student-cancel-btn' type='button' class='btn btn-secondary' (click)='closeModal()'>
	        Cancel
	    </button>
	  </div>
	</form>
</ng-template>
<div class="container">
  <div class="row">
		<button type="button" class="btn btn-primary" (click)="openModal(studentModal)">New Student</button>
    	<ag-grid-angular
			    #agGrid
			    id="myGrid"
			    style="width: 460px; height: 400px;"
			    class="ag-theme-balham"
			    [enableSorting]="true"
			    [enableFilter]="true"
			    [rowData]="students"
			    [rowSelection]="rowSelection"
			    (gridReady)="onGridReady($event)"
			    [columnDefs]="columnDefs">
			</ag-grid-angular>
			Selection: <span id="selectedRows"></span>
  </div>
</div>

<!-- <div class="container"> -->
<!--   c -->
<!--     <div class="col-xs-12 col-sm-10 col-md-8 col-sm-offset-1 col-md-offset-2"> -->
<!--       <div> -->
<!-- 	     <label class="col-md-4">First Name: </label> -->
<!-- 	     <input type="text" class="form-control" [(ngModel)]="student.fname" /> -->
<!-- 	  </div> -->
<!-- 	  <div> -->
<!-- 	     <label class="col-md-4">Last Name: </label> -->
<!-- 	     <input type="text" class="form-control" [(ngModel)]="student.lname" /> -->
<!-- 	  </div>	 -->
<!--       <form [formGroup]="angForm" novalidate> -->
<!--       <div class="form-group"> -->
<!--         <label class="col-md-4">First Name</label> -->
<!--         <input type="text" class="form-control" formControlName="fname" #fname /> -->
<!--       </div> -->
<!--       <div *ngIf="angForm.controls['fname'].invalid && (angForm.controls['fname'].dirty || angForm.controls['fname'].touched)" class="alert alert-danger"> -->
<!--         <div *ngIf="angForm.controls['fname'].errors.required"> -->
<!--           First Name is required. -->
<!--         </div> -->
<!--       </div> -->
<!--       <div class="form-group"> -->
<!--         <label class="col-md-4">Last Name</label> -->
<!--         <input type="text" class="form-control" formControlName="lname" #lname/> -->
<!--       </div> -->
<!--       <div *ngIf="angForm.controls['lname'].invalid && (angForm.controls['lname'].dirty || angForm.controls['lname'].touched)" class="alert alert-danger"> -->
<!--         <div *ngIf="angForm.controls['lname'].errors.required"> -->
<!--           Last Name is required. -->
<!--         </div> -->
<!--       </div> -->
<!--         <div class="form-group"> -->
<!--           <button (click)="addStudent(fname.value, lname.value)" [disabled]="angForm.pristine || angForm.invalid" class="btn btn-primary">Add</button> -->
<!--           <button (click)="openDialog()" class="btn btn-primary">Update</button> -->
<!--         </div> -->
<!--     </form> -->
<!--     </div> -->
<!--     <div class="row"> -->
<!--     	<ag-grid-angular -->
<!-- 			    #agGrid -->
<!-- 			    id="myGrid" -->
<!-- 			    style="width: 600px; height: 200px;" -->
<!-- 			    class="ag-theme-balham" -->
<!-- 			    [enableSorting]="true" -->
<!-- 			    [enableFilter]="true" -->
<!-- 			    [rowData]="students" -->
<!-- 			    [rowSelection]="rowSelection" -->
<!-- 			    (rowClicked)='onRowClicked($event)' -->
<!-- 			    [columnDefs]="columnDefs" -->
<!-- 			    > -->
<!-- 			</ag-grid-angular> -->
	
<!-- 			Selection: <span id="selectedRows"></span> -->
<!--     </div> -->
<!--   </div> -->
<!-- </div> -->